# 1. Hello world

This is a jupyter notebook, to run the code simply go to each cell and click run

In [25]:
print("Hello World")

Hello World

# 2. Variables

* Container for data.
* Created when value is assigned
* Isn't fixed to a specific value
* Can be type-casted
* Variable type can be selected with the ```type()``` function
* Variables are case sensitive

In [26]:
x = 5
y = "Hi"
print("x is: ", x)
print("y is: ", y)

x is:  5
y is:  Hi

In [27]:
x = 4  # x is of type int
print("initially x is: ", x)
x = "Mario"  # x is now of type str
print("finally x is: ", x)

initially x is:  4
finally x is:  Mario

In [28]:
x = str(3)  # x will be '3'
y = int(3)  # y will be 3
z = float(3)  # z will be 3.0

print("x is: ", x, ", y is: ", y, ", z is: ", z)
print("x is of type: ", type(x), ", y is of type: ", type(y), ", z is of type: ", type(z))

x is:  3 , y is:  3 , z is:  3.0
x is of type:  <class 'str'> , y is of type:  <class 'int'> , z is of type:  <class 'float'>

In [29]:
a = 4
A = "Sally"
#A will not overwrite a

print("A is {}".format(A))  ## another way of getting output
print("a is {}".format(a))  ## another way of getting output

A is Sally
a is 4

### Variable naming

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords (like ```if```, ```print``` etc.).

In [30]:
# Correct names

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(
    f"myvar is : {myvar} \nmy_var is : {my_var} \n_my_var is : {_my_var} \nmyVar is : {myVar} \nMYVAR is : {MYVAR}  \nmyvar2 is : {myvar2}")

myvar is : John
my_var is : John
_my_var is : John
myVar is : John
MYVAR is : John
myvar2 is : John

In [31]:
# Incorrect names
2
myvar = "John"
my - var = "John"
my
var = "John"
print = "John"

# This cell will give error

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1196934746.py, line 4)

### Casing
* Camel Case : Each word, except the first, starts with a capital letter
* Pascal Case : Each word starts with a capital letter
* Snake Case : Each word is separated by an underscore character

In [32]:
myVariableName = "Luigi"  # Camel case
MyVariableName = "Luigi"  # Pascal case
my_variable_name = "Luigi" # Snake case

### Some other styles
Other than single variable - single value

In [33]:
# multiple variables - multiple values

x, y, z = "Alpha", "Beta", "Gamma"
print(f"x is {x}")
print(f"y is {y}")
print(f"z is {z}")

x is Alpha
y is Beta
z is Gamma

In [34]:
# multiple variables - single value

x = y = z = "Delta"

print(f"x is {x}")
print(f"y is {y}")
print(f"z is {z}")

x is Delta
y is Delta
z is Delta

In [35]:
# unpacking

letters = ["Alpha", "Beta", "Gamma"]
x, y, z = letters
print(f"x is {x}")
print(f"y is {y}")
print(f"z is {z}")

x is Alpha
y is Beta
z is Gamma

# 3. Comments
* Helps explain
* Helps understand
* Prevents execution

In [36]:
# This is a single line comment

In [37]:
'''This is a comment
    that spans
    multiple lines''';

**NOTE**:
```#``` is used for comments (ignored by Python).

```''' ... '''``` or ```""" ... """``` are not comments â€” they are multi-line strings.

If not assigned to a variable, Python just creates the string and discards it.

In Jupyter, the last line of a cell gets displayed, so it looks like itâ€™s "not working" because it prints the string instead of being ignored.
To make it work in jupyter, just add a ; at the end.

# 4. I/O

Inputs and outputs

In [38]:
my_name=input("What is your name?")
my_age=int(input("How old are you?"))

print(f"Hello {my_name}, you are {my_age} years old")

print("variable my_name is of type :")
print(type(my_name))

print("variable my_age is of type :")
print(type(my_age))

Hello anurag, you are 22 years old
variable my_name is of type :
<class 'str'>
variable my_age is of type :
<class 'int'>

In [39]:
print("Format 1: ")
print(my_name, "is", my_age, "years old.")
print("Format 2: ")
print("{} is {} years old.".format(my_name,my_age))
print("Format 3: ")
print(f"{my_name} is {my_age} years old.")

Format 1:
anurag is 22 years old.
Format 2:
anurag is 22 years old.
Format 3:
anurag is 22 years old.